chromadb 
google-generativeai 
sentence-transformers
pandas
numpy
langchain
langgraph
langchain_community 
jsonpointer>=3.0.0
jsonpatch>=1.33
langchain-core>=0.3.0
langchain-google-genai  # For Gemini Embedding 2
elasticsearch>=8.0.0
psycopg2
#uvicorn RAG.Backend.fastapi.api:app --reload
